# Base URL used for public shortened links (e.g., https://light.ly or http://localhost:8000)
BASE_URL=http://localhost:8000

# API URL for frontend (e.g. http://localhost:8000 or https://api.light.ly)
VITE_API_URL=http://localhost:8000

# Backend port
PORT=8000

# Database URL
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/lightly?sslmode=disable
